~:extend('_Base')~

~:block('body')~
	<div class="container">
		<div class="row">
			<div class="col-lg-12 headline-card">
				<h1>Tax statistics for ~~:escape($countryName)~</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Overall collected taxes: ~~number_format(:raw($overallTaxesOfCountry)*:escape($collectedTaxesMultiplicator))~ ~~:escape($currency)~</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 chart-card">
				<h3>Overall collected taxes per state in ~~number_format(:escape($collectedTaxesMultiplicator))~ ~~:escape($currency)~</h3>
				<div
					class           ="graph-container"
					data-chart_data ="~~:escape($overallTaxesPerStateJson)~"
					style           ="height:~~(count($overallTaxesPerState) - 1) * 40~px"
				>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 chart-card">
				<h3>Average tax rate per state in %</h3>
				<div
					class           ="graph-container"
					data-chart_data ="~~:escape($avgTaxRatePerStateJson)~"
					style           ="height:~~(count($avgTaxRatePerState) - 1) * 40~px"
				>
				</div>
			</div>
		</div>
	</div>

~:endblock('body')~




~:block('script')~
	<script type="text/javascript" src="_main/js/Stats.js"></script>
~:endblock('script')~
