html{
	height:100%;
}

body{
	position:relative;
	margin:0;
	padding:0;
	height:100%;
	background-image: url(../images/bg.png);
	font-family: 'Tangerine', cursive;
	font-size:40px;
}

#canvas_1{
	position:absolute;
}

#panel-container{
	position:absolute;
	top:30%;
	width:100%;
	margin:auto;
	text-align:center;
}


#panel-container .trigger-voice-container .trigger-voice img{
	width:200px;
	padding:30px;
}

#panel-container .trigger-voice-container{
	margin:0 40px;
	display:inline-block;
	margin-top:-100px;
	border-radius:9999px;
	background-color:#ffcccc;
	box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.3);
	transition: background-color 0.2s;
	cursor:pointer;
}

#panel-container .trigger-voice-container:hover{
	background-color:#ffeeee;
}


#text-container{
	text-align:center;
	margin-top:40px;
}

#text.visible{
	opacity:1;
}

#text{
	opacity:0;
	transition:opacity 0.2s;
	padding:16px 30px;
	color:#ffffff;
	background-color:#ff3333;
	box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.3);
	border-radius:25px;
	display:inline-block;
}
