#knob {
	position:relative;
	width: 400px;
	height: 400px;
	box-shadow: 0 15px 5px #444444;
	border-radius: 999px;
	background-image: -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%, 0%,0) 0%, hsla(0,0%, 0%,0) 3%, hsla(0,0%, 0%,0.04) 3.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 6%, hsla(0,0%,100%,0.1) 7.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,0.15) 2.2%), -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,0.5) 30%, hsla(0,0%,60%,0.8) 100%);
}

#knob:hover{
	cursor:pointer;
}

#knob:hover .pointer{
	background-color:#CFFEFF;
}


#knob .rotating{
	width:100%;
	height:100%;
	position:absolute;
}

#knob .scratches{
	z-index:10;
	position:absolute;
	width:100%;
	height: 100%;
	background-image:url(../images/kratzer.png);
}

#knob .shadow3{
	z-index:10;
	position:absolute;
	width:100%;
	height: 100%;
	background-image:url(../images/schatten-innen.png);
}

#knob .wriggling{
	width:100%;
	height:100%;
	position:absolute;
}

#knob .shadow {
	z-index:10;
	position:absolute;
	width:100%;
	height: 100%;
	transform: rotate(-45deg);
	background-image:
		-webkit-radial-gradient( 50% 0%, 10% 50%, hsla(0,0%,0%,0.06) 0%, hsla(0,0%,0%,0) 100%),
		-webkit-radial-gradient( 50% 100%, 10% 50%, hsla(0,0%,0%,0.06) 0%, hsla(0,0%,0%,0) 100%),
		-webkit-radial-gradient( 0% 50%, 50% 10%, hsla(0,0%,0%,0.06) 0%, hsla(0,0%,0%,0) 100%),
		-webkit-radial-gradient( 100% 50%, 50% 06%, hsla(0,0%,0%,0.06) 0%, hsla(0,0%,0%,0) 100%);
}

#knob .shadow2 {
	z-index:10;
	position:absolute;
	width:100%;
	height: 100%;
	transform: rotate(0deg);
	background-image:
		-webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0,0%,100%,0.3) 0%, hsla(0,0%,100%,0) 100%),
		-webkit-radial-gradient( 0% 50%, 50% 7%, hsla(0,0%,100%,0.3) 0%, hsla(0,0%,100%,0) 100%),
		-webkit-radial-gradient( 100% 50%, 50% 5%, hsla(0,0%,100%,0.3) 0%, hsla(0,0%,100%,0) 100%),
		-webkit-radial-gradient( 50% 0%, 8% 50%, hsla(0,0%,100%,0.3) 0%, hsla(0,0%,100%,0) 100%);
}



#knob .pointer {
	-webkit-transition:background-color 0.1s;
	background-color:#FFFFFF;
	z-index:11;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-2px;
	margin-left:25%;
	transform-origin: -100px 0px;
	content: "";
	display: block;
	width: 80px;
	height: 4px;
	border-radius:999px;
	transform: rotate(0deg);
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.6);

}
