<div id="FnagelI18n_lang-button-container" class="header-link-container">
	<form action="~~:escape($page.path.absolute_with_query)~#intro" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="FnagelI18n-switch-lang" value="~~:escape($next_lang)~" />
		<input type="submit" id="FnagelI18n_switch-lang-button" class="button current-lang-~~:escape($current_lang)~ next-lang-~~:escape($next_lang)~" name="" value="" />
	</form>
</div>

