#FnagelI18n_switch-lang-button {
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#FnagelI18n_switch-lang-button.current-lang-de,
#FnagelI18n_switch-lang-button.next-lang-de:hover {
	background-image: url(../images/german.png);
}
#FnagelI18n_switch-lang-button.current-lang-en,
#FnagelI18n_switch-lang-button.next-lang-en:hover {
	background-image: url(../images/english.png);
}
