

h1{font-size:50px; text-align:center;}

h2{margin-bottom:30px;}

.headline-card{padding-bottom:20px;}

.chart-card{margin-bottom:20px; background-image:url(../images/loading_spinner.gif); background-position:center center; background-repeat:no-repeat; border-radius:10px; border:1px solid #DDDDDD; }
